.preloader{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #112b3d;    
    z-index: 100000000;
    
}
.preloader.active{
    transform: translateY(-100vh);
    transition: ease-in-out 2s;
    transition-delay: 1s;
}
.counter{
    display: none;
}
.hide{
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}
