*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color:#687d84; /* main color #15802c */
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --background: url(https://images.pexels.com/photos/159393/gamepad-video-game-controller-game-controller-controller-159393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /*   original   --background: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);*/
}
.light-theme{
    --bg-color: #f2efef;
    --second-bg-color: #d5d4d4;
    --text-color: #000000;
    --second-color: #322f2f;
    --background: none;
}

#theme-icon{
    width: 20px;
    cursor: pointer;
}
::-webkit-scrollbar{
  width: 0.50rem;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: var(--second-color);
  border-radius: 0.5rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all 0.45s ease;
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all 0.45s ease;
}
.navlist a:hover{
    color: var(--main-color);
    letter-spacing: 1px;
}
.navlist a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: #fff;
}
.two{
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    list-style: 1.1;
    margin: 0 0 8px;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.45s ease;
}
.btn:hover{
    transform: scale(0.9);
}
.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}
.btn2 span i{
    height: 55px;
    width: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 0.45s ease;
}
.btn2 span i:hover{
    transform: scale(0.9);
}

header.sticky{
    background: var(--bg-color);
    border-bottom: 1px solid var(--main-color);
    padding: 12px 10%;
    justify-content: space-between;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.3rem;
    background: var(--second-bg-color);
}
.about-img img{
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    transition: all 0.45s ease;
}
.about-img img:hover{
    cursor: not-allowed;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}
audio::-webkit-media-controls-panel{
    background-color: #d0d0d0;
}
audio::-webkit-media-controls-play-button{
    background-color: var(--main-color);
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: #000;
}
audio::-webkit-media-controls-time-remaining-display{
    color: #000;
}
audio::-webkit-media-controls-timeline{
    margin-left: 8px;
    border-radius: 20px;
    background-color: var(--main-color);
}
audio::-webkit-media-controls-volume-slider{
    background-color: var(--main-color);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: var(--main-color);
    border-radius: 50%;
}

/**/
.services{
    background: var(--bg-color);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 4rem;
}
.box{
    background: var(--second-bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all 0.45s ease;
}
.s-icons i{
    font-size: 32px;
    margin-bottom: 20px;    
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}.box p{
    color: var(--second-color);
    font-size: 0.8rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
/**/
.more{
    background: var(--second-bg-color);
}
.morecontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.2, var(--second-bg-color)));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--p-font);
    font-size: 1.2em;
    line-height: 1.8;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.row:hover img{
    transform: scale(1.1);
    filter: opacity(20%);
}
.row:hover .layer{
    height: 100%;
}

.contact {
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 5rem;  
    margin-top: 50px;
    padding: 20px 15%;
}

.contact-form h1 {
    font-size: var(--h2-font);
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.contact-form p {
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: var(--p-font);
    margin-bottom: 3rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: var(--second-bg-color);
    color: var(--second-color);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: var(--main-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease 0.20s;
    cursor: pointer;
    color: var(--text-color);
}

.contact-form form .btn:hover {
    opacity: 0.69;
}

@media (max-width: 1570) {
    .contact {
        padding: 80px 3%;
        transition: 0.2s;
    }

    .contact-form h1 {
        font-size: 60px;
    }

    .contact-form p {
        margin-bottom: 3rem;
    }
}

@media (max-width: 1090px) {
    .contact {
        grid-gap: 2rem;
        transition: 0.3s;
    }
}

@media (max-width: 1000px) {
    .contact {
        grid-template-columns: 1fr;
    }

    .contact-form {
        order: 2;
    }
}

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background: var(--second-bg-color);
}
.last-word p{
    color: var(--second-color);
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

.notice{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background: var(--second-bg-color);
    border-bottom: 2px solid var(--bg-color);
}
/*media queries*/

@media (max-width: 1268px){
    header{
        padding: 12px 2.5%;
        transition: 0.1s;
    }
    header.sticky{
        padding: 10px 2.5%;
        transition: 0.1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .end{
        padding: 15px 3%;
    }
    .notice{
        padding: 15px 3%;
        font-size: 0.8em;
    }
}

@media (max-width: 1100px){
    :root{
        --big-font: 3.8rem;
        --h2-font: 2.3rem;
        --p-font: 0.9rem;
        transition: 0.1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}

@media (max-width: 920px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-bg-color);
        text-align: left;
        transition: all 0.45s ease;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all 0.45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }
}

@media (max-width: 480px){
    .layer h5{
        font-size: 18px;
        font-weight: 500;
    }
    .layer p{
        font-size: 0.8em;
        line-height: 1.8;
        color: var(--text-color);
    }
}
.colormenu{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: #000000;
    border: none;
    padding: 8px;
}

/* tosc */

.container-speach {
    width: 100%;
    background: var(--bg-color);
    border-radius: 12px;
    padding: 22px 15%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  textarea {
    width: 100%;
    height: 180px;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 8px;
    margin: 5px 0;
    padding: 10px 15px;
    resize: none;
    outline: none;
    border: 1px solid var(--second-bg-color);
  }
  button {
    width: 100%;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    background: #333633;
  }
  
