* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2a2a2a;
    /* --bg-color: #333633; */
    --second-bg-color: #202020;
    --math-bg-color: #d38a254b;
    --text-color: #fff;
    /* --second-text-color: #cac1ce; */
    --second-color: #ccc;
    --main-color: #e08f1f;
    /* main color #15802c */
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --background: url(https://images.pexels.com/photos/1295569/pexels-photo-1295569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /*   original   --background: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);*/
}

::-webkit-scrollbar {
    width: 0.50rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 0.5rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 14%;
    border-bottom: 1px solid transparent;
    transition: all 0.45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 15px;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.45s ease;
}

.navlist a:hover {
    color: var(--main-color);
    background: var(--background);
    letter-spacing: 0.5px;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}

.home {
    position: relative;
    height: 90vh;
    width: 100%;
    /* background-image: var(--background-2); */
    background-image: url(8700766_44444.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    background: var(--main-color);
    color: #fff;
}

.one:active {
    font-size: 100em;
    transition: all .3s ease;
}

.two {
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    display: inline-block;
    padding: 2px;
    font-size: var(--big-font);
    font-weight: 700;
    /* background: rgba(11, 178, 239, 0.108); */
    list-style: 1.1;
    margin: 0 0 8px;
}

.home-text p {
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.45s ease;
    box-shadow: 0 0 5px 5px #e08f1f5a;
}

.btn:hover {
    /* transform: scale(1); */
    /* color: var(--second-text-color); */
    background: #ac6e17;
    box-shadow: 0 0 5px 5px #e08f1f65;
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5.6px 5px 5px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    /* background: var(--main-color); */
    /* box-shadow: 0 0 5px 5px #933ebe54; */
    margin-left: 35px;
    transition: all 0.45s ease;
}

.btn2:hover {
    color: #ffffff;
    /* background: #933ebe96; */
}

.btn2 span i {
    height: 50px;
    width: 50px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 0.45s ease;
}

.btn2 span i:hover {
    /* filter: grayscale(1); */
    color: var(--main-color);
    background: #8c723e72;
    /* transform: scale(0.9); */
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid var(--main-color);
    padding: 12px 10%;
    justify-content: space-between;
}

/* about */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.3rem;
    background: var(--second-bg-color);
    /* background: url(https://wallpapercave.com/wp/wp4892326.jpg); */
}

.about-img img {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    transition: all 0.45s ease;
}

.about-img img:hover {
    cursor: not-allowed;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

/* .tutorials-content (new content will be styling here)*/

.math-zone {
    background: var(--math-bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

/**/
.more {
    background: var(--second-bg-color);
}

.morecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2, var(--second-bg-color)));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: 0.5s;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: var(--p-font);
    font-size: 1.2em;
    line-height: 1.8;
}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.row:hover img {
    transform: scale(1.1);
    filter: opacity(20%);
}

.row:hover .layer {
    height: 100%;
}

/*===== tosc =====*/

.wrapper {
    width: auto;
    padding: 25px 30px;
    border-radius: 7px;
    background: var(--bg-color);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper h1{
    text-align: center;
    font-size: 30px;
}

.wrapper form {
    margin: 25px 0 15px;
}

form .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

form .row label {
    font-size: 18px;
    margin-bottom: 5px;
}

form .row:nth-child(2) label {
    font-size: 17px;
}

form :where(textarea, select, button) {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

form .row textarea {
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;
}

form .row textarea::-webkit-scrollbar {
    width: 0px;
}

form .row .outer {
    height: 47px;
    display: flex;
    /* padding: 0 10px; */
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 3.5px solid #999;
}

form .row select {
    font-size: 14px;
    background: #202020;
    padding: 0 10px;
    color: #fff;
}

form .row select::-webkit-scrollbar {
    width: 8px;
}

form .row select::-webkit-scrollbar-track {
    background: #fff;
}

form .row select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    background: var(--main-color);
    transition: 0.3s ease;
}

form button:hover {
    background: var(--second-bg-color);
    color: #fff;
}

/* ====contact==== */

.contact {
    background: var(--bg-color);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 5rem;
    margin-top: 50px;
    padding: 20px 15%;
}

.contact-form h1 {
    font-size: var(--h2-font);
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}

.contact-form p {
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: var(--p-font);
    margin-bottom: 3rem;
    display: grid;
    text-align: center;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: var(--second-bg-color);
    color: var(--second-color);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    background: var(--main-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: ease 0.2s;
    cursor: pointer;
    color: var(--text-color);
}

.contact-form form .btn:hover {
    opacity: 0.69;
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.last-word p {
    color: var(--second-color);
    font-size: 14px;
}

/*media queries*/

@media (max-width: 1570) {
    .contact {
        padding: 80px 3%;
        transition: 0.2s;
    }

    .contact-form h1 {
        font-size: 60px;
    }

    .contact-form p {
        margin-bottom: 3rem;
    }
}

@media (max-width: 1090px) {
    .contact {
        grid-gap: 2rem;
        transition: 0.3s;
    }
}

@media (max-width: 1000px) {
    .contact {
        grid-template-columns: 1fr;
    }

    .contact-form {
        order: 2;
    }
}

@media (max-width: 1024px) {
    .home-text h1 {
        width: 200px;
    }
}

@media (max-width: 1268px) {
    header {
        padding: 12px 2.5%;
        transition: 0.1s;
    }

    header.sticky {
        padding: 10px 2.5%;
        transition: 0.1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }

    .notice {
        padding: 15px 3%;
        font-size: 0.8em;
    }
}

@media (max-width: 1100px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2.3rem;
        --p-font: 0.9rem;
        transition: 0.1s;
    }

    .home-text h3 {
        font-size: 2.5rem;
    }

    .home {
        height: 87vh;
    }
}

@media (max-width: 1000px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-bg-color);
        text-align: left;
        transition: all 0.45s ease;
    }

    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all 0.45s ease;
        color: var(--text-color);
    }

    .navlist a:hover {
        color: var(--main-color);
    }

    .navlist a.active {
        color: var(--text-color);
    }

    .navlist.open {
        top: 100%;
    }
}

@media (max-width: 920px) {
    .home{
        background-position: left center;
    }

    .home-text h1 {
        width: 200px;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        order: 2;
    }

    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    * {
        font-family: sans-serif;
    }

    .layer h5 {
        font-size: 18px;
        font-weight: 500;
    }

    .layer p {
        font-size: 0.8em;
        line-height: 1.8;
        color: var(--text-color);
    }
}

@media (max-width: 320px) {

    .more,
    .more .calc {
        display: none;
    }
}

/* hello i am saheel raj prasad of class 8 this is my website that uploaded on github with lisence no one has right to copy my content */