@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
	background: #202124;
}

section {
	background: #202124;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section header {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

section header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

section header ul li {
	list-style: none;
	margin-left: 20px;
}

section header ul li a {
	color: #ffffffb8;
	text-decoration: none;
	font-size: 13px;
}

section header ul li a i{
    color: #fff;
}

section header ul .untitled img {
	width: 37px;
	border-radius: 50%;
	border: 5px solid #cccccc42;
}

section header ul .untitled img:hover {
	cursor: not-allowed;
}

section .main {
	width: 580px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -160px;
}

section .main .box {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

section .main .box .search {
	width: 100%;
	padding: 13px;
	padding-left: 45px;
	padding-right: 60px;
	border-radius: 50px;
	border: 1px solid #6b6868;
	outline: none;
	font-size: 0.9em;
	background: #202124;
	color: #fff;
}

section .main .box .search:hover {
    background: #303134; 
	/* border: none; */
}

section .main .box i {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	padding: 12px 20px;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
	color: #737373;
}

section .main .button {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section .main .button button {
	margin: 0 5px;
	padding: 12px 20px;
	background: #3e3c3c;
	color: #ccc;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
}

section .main .button button:hover {
    background: #303134;
}

section .main .button a{
	margin: 0 5px;
	padding: 12px 20px;
	background: #3c3c3c;
	color: #ccc;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
	text-decoration: none;
}

section .main .button a:hover {
	border: 1px solid #6b6868;
}

section .main .words {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	color: #ccc;
}

section .main .words li {
	list-style: none;
	margin: 0 5px;
	font-size: 13px;
}

section .main .words li a {
	text-decoration: none;
	/* color: #7f76df; */
	color: #3287f3;
}

section .main .words li a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 5.9em;
	/* font-weight: 450; */
	letter-spacing: -5px;
}

span {
	color: var(--clr);
}

section .footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #171717;
}

section .footer .row{
	padding: 11px 25px;
	border-bottom: 1px solid #3c3c3c;
	color: #ccc;
}

section .footer .row.row2{
	display: flex;
	justify-content: space-between;
}

section .footer .row.row2 ul{
	display: flex;
}

section .footer .row.row2 ul li{
	list-style: none;
}

section .footer .row.row2 ul li a{
	text-decoration: none;
	font-size: 12px;
	color: #9aa086;
	margin-right: 25px;
}

section .footer .row.row2 ul:nth-child(2) li a{
	text-decoration: none;
	font-size: 12px;
	color: #9aa086;
	margin-right: 0px;
	margin-left: 25px;
}
@media (max-width: 768px){
		section .main .box .search {
		width: 95%;
		margin: 10px;
		padding-left: 38px;
	}
		section .main .box i {
		position: absolute;
		padding: 23px 25px 25px 25px;
	}
}
@media (max-width: 480px) {
    section .main .button button{
        margin-bottom: 10px;
	}

	section .main .words li {
		font-size: 11px;
	}

	section .main .button .hideButton {
		display: none;
	}

	section .main .words {
		margin-top: 10px;
	}

	section .main .box .search {
		width: 95%;
		margin: 10px;
		padding-left: 38px;
	}

	section .main .box i {
		position: absolute;
		padding: 23px 25px 25px 25px;
	}

	section .main{
		margin-top: -150px;
	}
}